<button mat-raised-button style="float: right; margin: 10px" (click)="logout()">Logout</button>
<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Products">
        <div style="margin: 20px">
            <h2> Products </h2>
            <div *ngFor="let product of products" class="card bg-light mb-3">
                <div class="card-body">
                    <div class="media">
                        <img width="200" height="200" class="mr-3" *ngIf="product.pic" src="{{ product.pic }}">
                        <div class="media-body">
                            <h2 class="card-title">
                            Name: {{ product.product_name }}
                            </h2>
                            <p class="card-text"> 
                                Price: {{ product.product_price }}
                            </p>
                            <p class="card-text">
                                Description: {{product.product_description}}
                            </p>
                            <button mat-raised-button style="margin: 5px" (click)="addToWishList(product)">Add to wishlist</button>
                            <button mat-raised-button style="margin: 5px" (click)="addToAlergies(product)">Add to alergies</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Wishlist">
        <div style="margin: 20px">
            <h2> Wishlist </h2>
            <div *ngFor="let product of wishlist" class="card bg-light mb-3">
                <div class="card-body">
                    <div class="media">
                        <img width="200" height="200" class="mr-3" *ngIf="product.pic" src="{{ product.pic }}">
                        <div class="media-body">
                            <h2 class="card-title">
                            Name: {{ product.product_name }}
                            </h2>
                            <p class="card-text"> 
                                Price: {{ product.product_price }}
                            </p>
                            <p class="card-text">
                                Description: {{product.product_description}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Allergies">
        <div style="margin: 20px">
            <h2> Allergies </h2>
            <div *ngFor="let product of alergies" class="card bg-light mb-3">
                <div class="card-body">
                    <div class="media">
                        <img width="200" height="200" class="mr-3" *ngIf="product.pic" src="{{ product.pic }}">
                        <div class="media-body">
                            <h2 class="card-title">
                            Name: {{ product.product_name }}
                            </h2>
                            <p class="card-text"> 
                                Price: {{ product.product_price }}
                            </p>
                            <p class="card-text">
                                Description: {{product.product_description}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Orders">
        <div style="margin: 20px">
                <h2> Products </h2>
                <div *ngFor="let product of order.products" class="card bg-light mb-3">
                    <div class="card-body">
                        <div class="media">
                            <img width="200" height="200" class="mr-3" *ngIf="product.pic" src="{{ product.pic }}">
                            <div class="media-body">
                                <h2 class="card-title">
                                Name: {{ product.product_name }}
                                </h2>
                                <p class="card-text"> 
                                    Price: {{ product.product_price }}
                                </p>
                                <p class="card-text">
                                    Description: {{product.product_description}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div style="margin: 20px">
                <h2> Menus </h2>
                <div *ngFor="let menu of order.menus" class="card bg-light mb-3">
                    <div class="card-body">
                        <h2 class="card-title">
                        Name: {{ menu.menu_name }}
                        </h2>
                        <p class="card-text"> 
                            Price: {{ menu.price }}
                        </p>
                        <div>
                            Products:
                            <ul>
                                <li *ngFor="let prod of menu.products">
                                    {{prod.product_name}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button mat-raised-button style="margin:20px" (click)="acceptOrder()">Accept order</button>
                <button mat-raised-button style="margin:20px" (click)="orderRecieved()">Order recieved</button>
            </div>
    </mat-tab>
  </mat-tab-group>