<div class="bg">
    <div class="login-card">
        <mat-card>
            <mat-card-title>
                <h2>Sign in</h2>
            </mat-card-title>
            <mat-card-content>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <mat-error *ngIf="loginInvalid">
                        The username and password were not recognised
                    </mat-error>
                    <mat-form-field class="full-width-input">
                    <input matInput placeholder="User" formControlName="username">
                    </mat-form-field>
                    <mat-form-field class="full-width-input">
                    <input matInput type="password" placeholder="Password" formControlName="password">
                    <mat-error>
                        Please provide a valid password
                    </mat-error>
                    </mat-form-field>
                    <button mat-raised-button color="primary">Login</button>
                </form>
            </mat-card-content>
            <mat-card-subtitle>
                Don't have an account yet? <a routerLink="/register">Sign up</a>
            </mat-card-subtitle>
        </mat-card>
    </div>
</div>