<div class="restaurantConfig" *ngIf="loadingProd || loadingMenu">
    <mat-spinner></mat-spinner>
</div>
<div *ngIf="!loadingProd && !loadingMenu">
    <div style="padding-bottom: 50px;">
        <div style="margin: 20px">
            <h2> Products </h2>
            <div *ngFor="let product of products" class="card bg-light mb-3">
                <div class="card-body">
                    <div class="media">
                        <img width="200" height="200" class="mr-3" *ngIf="product.pic" src="{{ product.pic }}">
                        <div class="media-body">
                            <h2 class="card-title">
                            Name: {{ product.product_name }}
                            </h2>
                            <p class="card-text"> 
                                Price: {{ product.product_price }}
                            </p>
                            <p class="card-text">
                                Description: {{product.product_description}}
                            </p>
                            <button mat-raised-button style="margin: 5px" (click)="addToCartProduct(product)">Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div style="margin: 20px">
            <h2> Menus </h2>
            <div *ngFor="let menu of menus" class="card bg-light mb-3">
                <div class="card-body">
                    <h2 class="card-title">
                    Name: {{ menu.menu_name }}
                    </h2>
                    <p class="card-text"> 
                        Price: {{ menu.price }}
                    </p>
                    <div>
                        Products:
                        <ul>
                            <li *ngFor="let prod of menu.products">
                                {{prod.product_name}}
                            </li>
                        </ul>
                    </div>
                    <button mat-raised-button (click)="addToCartMenu(menu)">Add to cart</button>
                </div>
            </div>
        </div>
    </div>
</div>