<div class="modal-header">
    <h4 class="modal-title pull-left">Reserve Parking</h4>
</div>
<div class="modal-body">
    <div style="margin: 20px">
        <h2> Products </h2>
        <div *ngFor="let product of products" class="card bg-light mb-3">
            <div class="card-body">
                <div class="media">
                    <img width="200" height="200" class="mr-3" *ngIf="product.pic" src="{{ product.pic }}">
                    <div class="media-body">
                        <h2 class="card-title">
                        Name: {{ product.product_name }}
                        </h2>
                        <p class="card-text"> 
                            Price: {{ product.product_price }}
                        </p>
                        <p class="card-text">
                            Description: {{product.product_description}}
                        </p>
                        <button mat-raised-button style="margin: 5px" (click)="removeProduct(product)">Add to cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div style="margin: 20px">
        <h2> Menus </h2>
        <div *ngFor="let menu of menus" class="card bg-light mb-3">
            <div class="card-body">
                <h2 class="card-title">
                Name: {{ menu.menu_name }}
                </h2>
                <p class="card-text"> 
                    Price: {{ menu.price }}
                </p>
                <div>
                    Products:
                    <ul>
                        <li *ngFor="let prod of menu.products">
                            {{prod.product_name}}
                        </li>
                    </ul>
                </div>
                <button mat-raised-button (click)="removeMenu(menu)">Remove</button>
            </div>
        </div>
    </div>
    <div>
        <h2> Select disadvantaged person </h2>
        <p> If no person is selected the least helped person will be selected. </p>
        <mat-select [(value)]="disadvantagedUsername">
            <mat-option *ngFor="let dis of getDisadvantaged()" value="{{dis}}">{{dis}}</mat-option>
        </mat-select>
    </div>
</div>
<div class="modal-footer">
    <button mat-raised-button (click)="bsModalRef.hide()">Cancel</button>
    <button mat-raised-button style="margin-left: 5px" color="primary" (click)="submit()">Submit</button>
</div>