<div class="modal-header">
    <h4 class="modal-title pull-left">Edit Account</h4>
</div>
<div class="modal-body">
    <form [formGroup]="editForm">
        <div class="form-group">
            <mat-form-field>
                <mat-label>
                    Role
                </mat-label>
                <mat-select formControlName="role">
                    <mat-option value="ADMIN">Admin</mat-option>
                    <mat-option value="MANAGER">Manager</mat-option>
                    <mat-option value="DONNOR">Donor</mat-option>
                    <mat-option value="DISADVANTAGED">Disadvantaged</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <mat-label>Username</mat-label>
                <input matInput formControlName="username" required>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" required>
            </mat-form-field>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button mat-raised-button (click)="bsModalRef.hide()">Cancel</button>
    <button mat-raised-button color="primary" (click)="submit()">Submit</button>
</div>