<div class="modal-header">
    <h4 *ngIf="!edit" class="modal-title pull-left">Add product</h4>
    <h4 *ngIf="edit" class="modal-title pull-left">Edit product</h4>
</div>
<div class="modal-body">
    <form [formGroup]="productForm">
        <div class="form-group">
            <mat-form-field>
                <mat-label>Product name</mat-label>
                <input matInput formControlName="product_name" required>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <mat-label>Picture link</mat-label>
                <input matInput formControlName="pic" required>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <mat-label>Price</mat-label>
                <input matInput formControlName="product_price" required>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <mat-label>Description</mat-label>
                <input matInput formControlName="product_description" required>
            </mat-form-field>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button mat-raised-button (click)="bsModalRef.hide()">Cancel</button>
    <button mat-raised-button color="primary" (click)="submit()">Submit</button>
</div>