<div *ngIf="add">
    <div class="modal-header">
        <h4 class="modal-title pull-left">Add Menu</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="menuForm">
            <div class="form-group">
                <mat-form-field>
                    <mat-label>Menu name</mat-label>
                    <input matInput formControlName="menu_name" required>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field>
                    <mat-label>price</mat-label>
                    <input matInput formControlName="price" required>
                </mat-form-field>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button mat-raised-button (click)="bsModalRef.hide()">Cancel</button>
        <button mat-raised-button color="primary" (click)="submit()">Submit</button>
    </div>
</div>
<div *ngIf="addProduct || deleteProduct">
    <div class="modal-header">
        <h4 *ngIf="addProduct" class="modal-title pull-left">Add product to menu</h4>
        <h4 *ngIf="deleteProduct" class="modal-title pull-left">Delete product from menu</h4>
    </div>
    <div class="modal-body">
        <form>
            <mat-form-field>
                <mat-label>Product id</mat-label>
                <input matInput [(ngModel)]="productId" [ngModelOptions]="{standalone: true}" required>
            </mat-form-field>
        </form>
    </div>
    <div class="modal-footer">
        <button mat-raised-button (click)="bsModalRef.hide()">Cancel</button>
        <button mat-raised-button color="primary" (click)="submit()">Submit</button>
    </div>
</div>