<mat-drawer-container [hasBackdrop]="true">
    <mat-drawer #sidenav 
        [(opened)]="openedSideNav" 
        position="end"
        class="sidenav">
        <app-restaurant-nav [id]="restaurantId"></app-restaurant-nav>
    </mat-drawer>

    <div style="margin: 25px; height: 100vh;">
        <button mat-raised-button (click)="viewCart()" style="margin: 20px">View Cart</button>
        <button mat-raised-button style="float: right;" (click)="logout()">Logout</button>
        <div *ngFor="let restaurant of restaurants">
            <mat-card (click)="selectRestaurant(restaurant.restaurant_id)" style="margin-bottom: 10px">
                <mat-card-header>
                <mat-card-title> {{restaurant.restaurant_name}} </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        {{restaurant.address}}
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

</mat-drawer-container>