<div class="restaurantConfig" *ngIf="loadingProd || loadingMenu">
    <mat-spinner></mat-spinner>
</div>
<div *ngIf="!loadingProd && !loadingMenu">
    <div style="padding-bottom: 50px;" *ngIf="configuredRestaurant">
        <div style="margin: 20px">
            <h2 style="margin-left: 25x">Products
                <button mat-raised-button style="float: right; margin-left: 15px" (click)="logout()">Logout</button>
                <button mat-raised-button (click)="addProduct()" style="float: right">Add new product</button>
            </h2>
            <div *ngFor="let product of products" class="card bg-light mb-3">
                <div class="card-body">
                    <div class="media">
                        <img width="200" height="200" class="mr-3" *ngIf="product.pic" src="{{ product.pic }}">
                        <div class="media-body">
                            <h2 class="card-title">
                            Id: {{product.product_id}} Name: {{ product.product_name }}
                            </h2>
                            <p class="card-text"> 
                                Price: {{ product.product_price }}
                            </p>
                            <p class="card-text">
                                Description: {{product.product_description}}
                            </p>
                            <button mat-raised-button style="margin: 5px" (click)="deleteProduct(product.product_id)">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div style="margin: 20px">
            <h2 style="margin-left: 25x">Menus
                <button mat-raised-button (click)="addMenu()" style="float: right">Add new menu</button>
            </h2>
            <div *ngFor="let menu of menus" class="card bg-light mb-3">
                <div class="card-body">
                    <h2 class="card-title">
                    Id: {{menu.menu_id}} Name: {{ menu.menu_name }}
                    </h2>
                    <p class="card-text"> 
                        Price: {{ menu.price }}
                    </p>
                    <div>
                        Products:
                        <ul>
                            <li *ngFor="let prod of menu.products">
                                {{prod.product_id}}. {{prod.product_name}}
                            </li>
                        </ul>
                    </div>
                    <button mat-raised-button style="margin: 5px" (click)="addProductMenu(menu.menu_id)">Add product</button>
                    <button mat-raised-button style="margin: 5px" (click)="removeProductMenu(menu.menu_id)">Delete product</button>
                    <button mat-raised-button style="margin: 5px" (click)="deleteMenu(menu.menu_id)">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!configuredRestaurant" class="restaurantConfig">
        <mat-card>
        <mat-card-title style="width: 500px;">
            <h2 style="text-align: center;">Configure restaurant details</h2>
        </mat-card-title>
        <mat-card-content>
            <form [formGroup]="restaurantForm">
                <div class="form-group">
                    <mat-form-field style="width: 100%;" appearance="outline">
                        <mat-label>Restaurant name</mat-label>
                        <input matInput formControlName="restaurant_name" required>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field style="width: 100%;" appearance="outline">
                        <mat-label>Address</mat-label>
                        <input matInput formControlName="address" required>
                    </mat-form-field>
                </div>
                <button mat-raised-button color="primary" (click)="submitRestaurant()" style="width: 100%; margin-bottom: 15px" appearance="outline">Submit</button>
            </form>
        </mat-card-content>    
        </mat-card>
    </div>
</div>