body,
html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("https://previews.123rf.com/images/cloudbursted/cloudbursted2004/cloudbursted200400041/146214698-food-packaging-on-yellow-background-quarantine-food-delivery-home-flatlay-banner-with-copyspace-.jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-card {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin-top: 10px;
    width: 30em;
}

form {
    margin: 2em auto;
    text-align: center;
  }
  
mat-form-field {
    display: block;
    width: 30em;
}

mat-card-title {
  text-align: center;
  justify-content: center;
}

/* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
  }
  
/* The close button */
.closebtn {
margin-left: 15px;
color: white;
font-weight: bold;
float: right;
font-size: 22px;
line-height: 20px;
cursor: pointer;
transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
color: black;
}