<div class="bg">
    <div class="login-card">
        <mat-card>
            <mat-card-title>
                <h2>Sign up</h2>
            </mat-card-title>
            <mat-card-content>
                <div *ngIf="passwordInvalid" class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    Passwords do not match.
                  </div>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <mat-form-field class="full-width-input">
                        <input matInput placeholder="User" formControlName="username">
                    </mat-form-field>
                    <mat-form-field class="full-width-input">
                        <input matInput type="password" placeholder="Password" formControlName="password">
                    </mat-form-field>
                    <mat-form-field class="full-width-input">
                        <input matInput type="password" placeholder="Retype Password" formControlName="password2">
                    </mat-form-field>
                    <button mat-raised-button color="primary">Register</button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>